$color-primary: #26a2ff;
// Refers: https://ant.design/docs/spec/colors-cn
// red
$color-red-5: #ff4d4f;
$color-red-6: #f5222d;
$color-red-7: #cf1322;
// blue
$color-blue-5: #40a9ff;
$color-blue-6: #1890ff;
$color-blue-7: #096dd9;
// grey
$color-grey-1:#ffffff;
$color-grey-2:#fafafa;
$color-grey-3:#f5f5f5;
$color-grey-4:#e8e8e8;
$color-grey-5:#d9d9d9;
$color-grey-6:#bfbfbf;
$color-grey-7:#8c8c8c;
$color-grey-8:#595959;
$color-grey-9:#262626;
$color-grey-10:#000000;
