$color-primary: #26a2ff;
// Refers: https://ant.design/docs/spec/colors-cn
$color-red-5: #ff4d4f;
$color-red-6: #f5222d;
$color-red-7: #cf1322;
$color-blue-5: #40a9ff;
$color-blue-6: #1890ff;
$color-blue-7: #096dd9;
